<h1>Bienvenue sur mon app Angular !</h1>
<p>Bonjour {{name}}</p>

<p>{{ present('John') }}</p>
<p>1 + 1 = {{ 1+1 }}</p>

<!-- IMPORT COMPOSANT ENFANT-->
<app-child-component />

<!-- Directive@for -->
<app-directive-for />

<!-- Event handling -->
<app-event-handling />

<!-- @Input-->
<app-user [users]="users" />

<!-- Formulaire -->
<app-form />

<!-- Exercice -->
<app-exercice />

<!-- Passage de données d'enfant à parent avec @Output -->
<app-directive-ouptup (passCheckBoxValue)="passCheckBoxValue($event)"
  (passInputTextValue)="passInputTextValue($event)" />
<p>Valeur case à cocher: {{ myChildData }}</p>
<p>Valeur input: {{ myChildInputValue }}</p>