<section>
  <h1>Les formulaires</h1>
  <input type="checkbox" [(ngModel)]="checkBoxValue">

  @if(checkBoxValue){
  <p>Case cochée</p>
  } @else {
  <p>Case non cochée</p>}

  <form (submit)="handleSubmit()">
    <label for="name">Name</label>
    <input [(ngModel)]="name" name="name" type="text">
    <label for="password">Password</label>
    <input [(ngModel)]="password" name="password" type="text">
    <button type="submit">Soummettre le formulaire</button>
  </form>
  <br>
  <div>
    <input type="text" (change)="handleTextChange($event)">

  </div>


</section>